<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <!-- Write logs to a daily text file -->
    <target xsi:type="File" name="file" fileName="logs/${shortdate}.log" layout="${longdate} ${level} ${message} ${exception:format=tostring}" />
    <!-- Write logs to a memory target for displaying in the UI -->
    <target xsi:type="Memory" name="memory" layout="${longdate} ${level} ${message} ${exception:format=tostring}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="file,memory" />
  </rules>
</nlog>
